<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.birt.report.designer.ui.reportitemUI">
      <model
            extensionName="DotBar">
      </model>
      <palette
            icon="icons/dotbar.jpg">
      </palette>
      <editor
            canResize="false"
            showInDesigner="true"
            showInMasterPage="true">
      </editor>
      <outline
            icon="icons/dotbar.jpg">
      </outline>
      <reportItemFigureUI
            class="blackboard.birt.extensions.dotbar.ui.DotbarFigureUI">
      </reportItemFigureUI>
      <builder
            class="blackboard.birt.extensions.dotbar.ui.DotbarBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.reportitemUI">
      <model
            extensionName="RotatedText">
      </model>
      <palette
            icon="icons/rotatedtext.jpg">
      </palette>
      <editor
            canResize="false"
            showInDesigner="true"
            showInMasterPage="true">
      </editor>
      <outline
            icon="icons/rotatedtext.jpg">
      </outline>
      <reportItemFigureUI
            class="blackboard.birt.extensions.rotatedtext.ui.RotatedTextFigureUI">
      </reportItemFigureUI>
      <builder
            class="blackboard.birt.extensions.rotatedtext.ui.RotatedTextBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.elementAdapters">
      <adaptable
            class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
         <adapter
               factory="blackboard.birt.extensions.dotbar.views.DotbarPageGeneratorFactory"
               id="ReportDesign.AttributeView.DotbarPageGenerator"
               singleton="false"
               type="org.eclipse.birt.report.designer.ui.views.IPageGenerator">
         </adapter>
      </adaptable>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.elementAdapters">
      <adaptable
            class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
         <adapter
               factory="blackboard.birt.extensions.rotatedtext.ui.views.RotatedTextPageGeneratorFactory"
               id="ReportDesign.AttributeView.RotatedTextPageGenerator"
               singleton="false"
               type="org.eclipse.birt.report.designer.ui.views.IPageGenerator">
         </adapter>
      </adaptable>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.menuBuilders">
      <menuBuilder
            class="blackboard.birt.extensions.rotatedtext.ui.RotatedTextMenuBuilder"
            elementName="RotatedText">
      </menuBuilder>
   </extension>

</plugin>
